@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "customers";


/*------------------------------------------------------------------*/ 
/*	01) BASE
/*------------------------------------------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
}



@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}



html {
	overflow-x: hidden;
	padding: 0px;
	margin: 0px
}
body{
	font-family: "Open Sans";
	font-size: 12px;
	line-height: 2.5;
	letter-spacing: 1px;
	word-wrap: break-word;
	font-weight: 400;
	background-color: #000;
	text-align: left;
}






.porta_tm_home_title_wrap{
	width: 100%;
	height: auto;
	float: left;
	clear: both;
	text-align: left;
	max-width: 100%;
	margin-bottom: 195px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_home_title_wrap.index{margin-bottom: 20px}
.porta_tm_home_title_wrap.about{margin-bottom: 185px}
.porta_tm_home_title_wrap.service{margin-bottom: 185px}
.porta_tm_home_title_wrap.portfolio{margin-bottom: 177px}
.porta_tm_home_title_wrap.single{margin-bottom: 175px}
.porta_tm_home_title_wrap.contact{margin-bottom: 70px}
.porta_tm_home_title_wrap.news{margin-bottom: 185px}
.porta_tm_home_title_wrap .inner{padding-top: 90px; text-align:center;}
.porta_tm_home_title_wrap h3{
	color: #fff;
	position: relative;
}
.porta_tm_home_title_wrap h3 .animate{
	display: block;
	overflow: hidden;
}
.porta_tm_home_title_wrap h3 .animate > span{
	position: relative;
	display: block;

	
	-webkit-transition: all 1s ease;
	   -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	     -o-transition: all 1s ease;
	        transition: all 1s ease;
}
.porta_tm_home_title_wrap.appear h3 .animate:nth-child(1) > span{
	transition-delay: 0.1s;
	transform: translateY(0%);
}
.porta_tm_home_title_wrap.appear h3 .animate:nth-child(2) > span{
	transition-delay: 0.3s;
	transform: translateY(0%);
}
.porta_tm_portfolio_home_wrap{
	width: 100%;
	max-width: 1380px;
	height: auto;
	clear: both;
	margin: 0px auto 185px auto;
	padding: 0px 40px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_portfolio_home_wrap .item{
	float: left;
	overflow: hidden;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_portfolio_home_wrap .item .inner{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.porta_tm_portfolio_home_wrap .image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.porta_tm_portfolio_home_wrap .item:nth-child(1) .image{background-image: url(../img/portfolio/home.jpg);}
.porta_tm_portfolio_home_wrap .item:nth-child(2) .image{background-image: url(../img/portfolio/office.jpg);}
.porta_tm_portfolio_home_wrap .item:nth-child(3) .image{background-image: url(../img/portfolio/other.jpg);}
.porta_tm_portfolio_home_wrap .item:nth-child(4) .image{background-image: url(../img/portfolio/12.jpg);}
.porta_tm_portfolio_home_wrap .item:nth-child(5) .image{background-image: url(../img/portfolio/13.jpg);}
.porta_tm_portfolio_home_wrap .item:nth-child(6) .image{background-image: url(../img/portfolio/8.jpg);}
.porta_tm_portfolio_home_wrap .item:nth-child(7) .image{background-image: url(../img/portfolio/14.jpg);}
.porta_tm_portfolio_home_wrap .image_overlay{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,.9);
	z-index: 2;
	
	-webkit-transition: all .2s ease;
	   -moz-transition: all .2s ease;
	    -ms-transition: all .2s ease;
	     -o-transition: all .2s ease;
	        transition: all .2s ease;
	
	opacity: 0;
	visibility: hidden;
}
.porta_tm_portfolio_home_wrap .image_definition{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	
	opacity: 0;
	visibility: hidden;
}
.porta_tm_portfolio_home_wrap .image_definition .title a{
	text-decoration: none;
	color: #fff;
	font-weight: 600;
	display: inline-block;
	font-family: "Quicksand";
	font-size: 16px;
}
.porta_tm_portfolio_home_wrap .link{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
}
.porta_tm_portfolio_home_wrap .link a{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	font-family: "Quicksand";
}
.porta_tm_portfolio_home_wrap .item:hover .image{transform: scale(1.1,1.1) translateZ(0);} 
.porta_tm_portfolio_home_wrap .item:hover .image_overlay{
	opacity: 1;
	visibility: visible;
}
.porta_tm_portfolio_home_wrap .item:hover .image_definition{
	opacity: 1;
	visibility: visible;
}
.porta_tm_short_contact_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	background-color: rgba(13,13,13,1.00);
	text-align: center;
	/* padding: 183px 20px 210px 20px; */
	margin-bottom: 188px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_short_contact_wrap .inner{
	max-width: 550px;
	margin: 0px auto;
}
.porta_tm_short_contact_wrap .title{margin-bottom: 40px;}
.porta_tm_short_contact_wrap .title h3{
	color: #fff;
	font-size: 30px;
}
.porta_tm_button{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	text-align: center;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_button a{
	text-decoration: none;
	color: #000;
	background-color: #fff;
	font-family: "Quicksand";
	font-weight: 600;
	padding: 16px 40px 18px 40px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.porta_tm_button a:hover{
	background-color: #000;
	color: #fff;
}
.porta_tm_footer_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 80px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_footer_wrap .sharebox{padding-right: 30px;}
.porta_tm_footer_wrap .sharebox label{
	color: #fff;
	font-family: "Quicksand";
	font-weight: 600;
	font-size: 16px;
}
.porta_tm_footer_wrap .share_wrap{padding-top: 10px;}
.porta_tm_footer_wrap .share_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.porta_tm_footer_wrap .share_wrap ul li{
	margin: 0px 8px 0px 0px;
	display: inline-block;
	position: relative;
	left: -5px;
}
.porta_tm_footer_wrap .share_wrap ul li:last-child{margin-right: 0px;}
.porta_tm_footer_wrap .share_wrap ul li a{
	text-decoration: none;
	color: #fff;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.porta_tm_footer_wrap .share_wrap ul li a:hover{color: #9d7245;}
.porta_tm_footer_wrap .copyright{text-align:right;}
.porta_tm_footer_wrap .copyright label{
	color: #fff;
	font-family: "Quicksand";
	font-weight: 600;
	font-size: 16px;
}
.porta_tm_footer_wrap .copyright p{	
	color: #fff;
	padding-top: 10px;
}



/*---------------------------------------------------*/
/*	10)  PORTA NEWS
/*---------------------------------------------------*/

.porta_tm_news_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_news_wrap ul{
	margin: 0px 0px 0px -30px;
	list-style-type: none;
}
.porta_tm_news_wrap ul li{
	margin: 0px 0px 37px 0px;
	float: left;
	width: 33.3333%;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_news_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_news_wrap ul li .image_wrap{
	float:left;
	position: relative;
	width: 100%;
	margin-bottom: 36px;
}


.logo {
    margin-bottom: 48px;
}
.porta_tm_news_wrap ul li:nth-child(1) .image{background-image: url(../img/blog/2.jpg);}
.porta_tm_news_wrap ul li:nth-child(2) .image{background-image: url(../img/blog/1.jpg);}
.porta_tm_news_wrap ul li:nth-child(3) .image{background-image: url(../img/blog/3.jpg);}
.porta_tm_news_wrap ul li .definitions_wrap{
	padding: 0px 40px 50px 40px;
	background-color: rgba(13,13,13,1.00);     text-align: center;
}

.porta_tm_news_wrap ul li .title{margin-bottom: 21px;}
.porta_tm_news_wrap ul li .title h3{
	color:#fff;
	line-height: 1.5;
	font-size: 22px;
	font-weight: 500;
}

.porta_tm_news_wrap ul li .title h3 a:hover{color: #9d7245;}
.porta_tm_news_wrap ul li .definition{margin-bottom: 33px;}
.porta_tm_news_wrap ul li .definition p{color: #eee;}
.porta_tm_news_wrap ul li .read_more a{
	color: #000;
    text-decoration: none;
        background-color: #ffffff7a;
    padding: 8px 35px;
    display: inline-block;
    font-family: "Quicksand";
    font-weight: 600;
    border-radius: 3px;
	
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.porta_tm_news_wrap ul li .read_more a:hover{
	color: #fff;
	background-color: #585353;
}




/*---------------------------------------------------*/
/*	11) PORTA NEWS SINGLE
/*---------------------------------------------------*/

.porta_tm_news_single_image{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 55px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_news_single_image .inner{padding-top: 163px;}
.porta_tm_news_single_definitions_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	display: flex;
	margin-bottom: 90px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_news_single_definitions_wrap .leftbox{
	width: 360px;
	max-width: 360px;
	padding-right: 40px;
}
.porta_tm_news_single_definitions_wrap .leftbox .image_holder{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
}
.porta_tm_news_single_definitions_wrap .leftbox .name_holder span{
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	font-family: "Quicksand";
}
.porta_tm_news_single_definitions_wrap .leftbox label{
	color: #fff;
	font-weight: 600;
	font-family: "Quicksand";
}
.porta_tm_news_single_definitions_wrap .leftbox .date span,
.porta_tm_news_single_definitions_wrap .leftbox .category span{
	padding-left: 10px;
	font-weight: 400;
	color: #fff;
}
.porta_tm_news_single_definitions_wrap .rightbox{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	top: -15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_news_single_definitions_wrap .rightbox .title_holder{margin-bottom: 25px;}
.porta_tm_news_single_definitions_wrap .rightbox .title_holder h3{
	color: #fff;
	font-size: 24px;
}
.porta_tm_news_single_definitions_wrap .rightbox .definition p{
	color: #eee;
	margin-bottom: 38px;
}
.porta_tm_news_single_definitions_wrap .rightbox .definition p:last-child{margin-bottom: 27px;}
.porta_tm_news_single_definitions_wrap .rightbox blockquote{
	color: #fff;
	padding: 10px 0px 10px 20px;
	margin-bottom: 38px;
	border-left: 2px solid #fff;
	font-style: italic;
}
.porta_tm_news_single_definitions_wrap .rightbox .sharebox ul{
	margin: 0px;
	list-style-type: none;
}
.porta_tm_news_single_definitions_wrap .rightbox .sharebox ul li{
	margin: 0px;
	display: inline-block;
	position: relative;
	left: -5px;
}
.porta_tm_news_single_definitions_wrap .rightbox .sharebox ul li a{
	text-decoration: none;
	color: #fff;
	margin-right: 7px;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.porta_tm_news_single_definitions_wrap .rightbox .sharebox ul li a:hover{color: #9d7245;}
.porta_tm_news_single_definitions_wrap .rightbox .sharebox ul li:last-child{margin-right: 0px;}
.porta_tm_comment_contact{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	margin-bottom: 190px;
	display: flex;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_comment_contact .left{
	width: 360px;
}
.porta_tm_comment_contact .right{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
}
.porta_tm_comment_contact .porta_tm_contact_wrap{
	max-width: 100%;
	
	box-sizing: border-box;
}



.porta_tm_twice_box_wrap .contact_title{margin-bottom: 25px;}
.porta_tm_twice_box_wrap .contact_title h3{
	color: #fff;
	font-size: 25px;
}
.porta_tm_contact_wrap{
	max-width: 830px;
	height: auto;
	margin: 0px auto;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_contact_wrap .title_holder{margin-bottom: 15px;}
.porta_tm_contact_wrap .title_holder h3{
	color: #fff;
	font-size: 25px;
	margin-bottom: 5px;
}
.porta_tm_contact_wrap .title_holder p{color: #eee;}
.porta_tm_contact_wrap .title_holder p span{position: relative;}
.porta_tm_contact_wrap .title_holder p span:before{
	position: absolute;
	content: "*";
	color: #fff;
	top: -12px;
	right: -12px;
}
.porta_tm_contact_wrap .main_input_wrap,
.porta_tm_contact_wrap .main_input_wrap .wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	padding: 0px !important;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_contact_wrap .main_input_wrap .wrap{margin-bottom: 30px;}
.porta_tm_contact_wrap .main_input_wrap .wrap input{
	width: 100%;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.2);
	color: #fff;
	padding: 0px !important;
}
.porta_tm_contact_wrap .main_input_wrap .wrap input:focus{
	outline: none;
	border-bottom-color: #fff;
}
.porta_tm_contact_wrap .main_input_wrap .wrap textarea{
	width: 100%;
	height: 120px;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid rgba(255,255,255,.2);
	color: #fff;
	padding: 13px 0px 0px 0px !important;
	margin-bottom: 8px;
}
.porta_tm_contact_wrap .main_input_wrap .wrap textarea:focus{
	outline: none;
	border-bottom-color: #fff;
}
.porta_tm_contact_wrap .porta_tm_button{text-align: left;}
.porta_tm_contact_wrap .porta_tm_button a{
	color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 8px 35px;
    display: inline-block;
    font-family: "Quicksand";
    font-weight: 600;
    border-radius: 3px;
	
    -webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.porta_tm_contact_wrap .porta_tm_button a:hover{
	background-color: #9d7245;
	color: #fff;
}
.porta_tm_contact_wrap .empty_notice{
	color: rgba(255,0,4,1.00);
	margin-bottom: 7px;
	display: none;
}
.porta_tm_contact_wrap .contact_error{color: rgba(255,0,4,1.00);}
.porta_tm_contact_wrap .returnmessage{
	color:#0064FF;
	margin-bottom: 7px;
}

/*---------------------------------------------------*/
/*	12) PORTA CONTACT
/*---------------------------------------------------*/

.porta_tm_twice_box_wrap .contact_text{margin-bottom: 30px;}
.porta_tm_twice_box_wrap .contact_text p{color: #eee;}
.porta_tm_twice_box_wrap .short_info_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_twice_box_wrap .short_info_wrap ul{
	margin: 0px;
	list-style-type: none;
}
.porta_tm_twice_box_wrap .short_info_wrap ul li{
	margin: 0px 0px 20px 0px;
	display: table;
}
.porta_tm_twice_box_wrap .short_info_wrap ul li:last-child{margin-bottom: 0px;}
.porta_tm_twice_box_wrap .short_info_wrap ul li .inner{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	display: flex;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_twice_box_wrap .short_info_wrap .icon .svg{
	color: #fff;
	width: 25px;
	height: 25px;
}
.porta_tm_twice_box_wrap .short_info_wrap .definition{
	position: relative;
	top: -10px;
	padding-left: 10px;
}
.porta_tm_twice_box_wrap .short_info_wrap .definition span{
	color: #fff;
	font-family: "Quicksand";
	font-weight: 500;
	font-size: 15px;
}
.porta_tm_twice_box_wrap .short_info_wrap .definition p{color: #eee;}
.porta_tm_twice_box_wrap .short_info_wrap .definition a{
	text-decoration: none;
	color: #eee;
	
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
	    -ms-transition: all .3s ease;
	     -o-transition: all .3s ease;
	        transition: all .3s ease;
}
.porta_tm_twice_box_wrap .short_info_wrap .definition a:hover{color: #9d7245;}
.porta_tm_main_contact_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	position: relative;
	top: -15px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.porta_tm_main_contact_wrap .porta_tm_contact_wrap{
	width: 100%;
	max-width: 100%;
}

/*---------------------------------------------------*/
/*	13) PORTA MEDIA QUERIES (FOR SMALL DEVIVES)
/*---------------------------------------------------*/

@media (max-width: 1200px) {
	.porta_tm_twice_box_wrap .rightbox .team_list > ul > li{width: 50%;}
}
@media (max-width: 1040px) {
	.porta_tm_trigger{display: block;}
	.porta_tm_navigation_wrap .nav_list_wrap{display: none;}
	.porta_tm_navigation_wrap .logo{position: relative;top:-1px;}
	.porta_tm_navigation_wrap{padding: 30px 0px;background-color: rgba(0,0,0,.95);}
	.porta_tm_portfolio_wrap{padding: 0px 20px;}
	.porta_tm_portfolio_home_wrap{padding: 0px 20px;}
	.porta_tm_twice_box_wrap{display: block;}
	.porta_tm_twice_box_wrap .leftbox{width: 100%;margin-bottom: 50px;}
	.porta_tm_twice_box_wrap .rightbox{width: 100%;}
	.porta_tm_news_wrap ul li{width: 50%;}
}
@media (max-width: 768px) {
	.porta_tm_navigation_wrap{padding: 25px 0px;}
	.porta_tm_home_title_wrap h3{font-size: 27px;}
	.porta_tm_home_title_wrap .inner{padding-top: 125px;}
	.porta_tm_home_title_wrap.index{margin-bottom: 150px;}
	.porta_tm_home_title_wrap.portfolio{margin-bottom:  152px;}
	.porta_tm_home_title_wrap{margin-bottom: 170px;}
	.porta_tm_home_title_wrap.single{margin-bottom: 153px;}
	.porta_tm_home_title_wrap.news{margin-bottom: 163px;}
	.porta_tm_home_title_wrap.service{margin-bottom: 165px;}
	.porta_tm_home_title_wrap.about{margin-bottom: 163px;}
	.porta_tm_home_title_wrap.contact{margin-bottom: 150px;}
	.porta_tm_twice_box_wrap .service_list_wrap ul li{width: 50%;}
	.porta_tm_twice_box_wrap{margin-bottom: 150px;}
	.porta_tm_twice_box_wrap.service{margin-bottom: 163px;}
	.porta_tm_twice_box_wrap.single{margin-bottom: 165px;}
	.porta_tm_twice_box_wrap.about{padding-top: 5px;margin-bottom: 145px;}
	.porta_tm_portfolio_wrap{margin-bottom: 137px;}
	.porta_tm_portfolio_home_wrap{margin-bottom: 160px;}
	.porta_tm_portfolio_list > li{width: 50%;}
	.porta_tm_portfolio_filter li{margin-right: 30px;margin-bottom: 0px;}
	.porta_tm_news_single_image .inner{padding-top: 150px;}
	.porta_tm_news_wrap ul{margin: 0px;}
	.porta_tm_news_wrap ul li{width: 100%;padding: 0px;}
	.porta_tm_news_single_definitions_wrap{display: block;}
	.porta_tm_news_single_definitions_wrap .leftbox{padding-right: 20px;margin-bottom: 50px;}
	.porta_tm_short_contact_wrap .title h3{font-size: 27px;}
	/* .porta_tm_short_contact_wrap{padding: 163px 20px 185px 20px;margin-bottom: 168px;} */
	.porta_tm_about_top_image{margin-bottom: 165px;}
	.porta_tm_service_top_image{margin-bottom: 163px;}
	.porta_tm_pagination_wrap{margin-bottom: 152px;}
	.porta_tm_pagination_wrap .left{display: none;}
	.porta_tm_news_pagination{margin-bottom: 163px;}
	.porta_tm_footer_wrap{padding-bottom: 0px;}
	.porta_tm_comment_contact{margin-bottom: 165px;}
	.porta_tm_comment_contact .left{display: none;}
	.porta_tm_twice_box_wrap.contact{margin-bottom: 150px;}
	body{line-height: 2.3;}
}
@media (max-width: 480px) {
	.porta_tm_navigation_wrap{padding: 20px 0px;}
	.porta_tm_top_bar_wrap ul li{margin: 0px;}
	.porta_tm_home_title_wrap h3{font-size: 24px;}
	.porta_tm_home_title_wrap .inner{padding-top: 100px;}
	.porta_tm_home_title_wrap.index{margin-bottom: 130px;}
	.porta_tm_home_title_wrap.portfolio{margin-bottom:  132px;}
	.porta_tm_home_title_wrap{margin-bottom: 150px;}
	.porta_tm_home_title_wrap.single{margin-bottom: 130px;}
	.porta_tm_home_title_wrap.news{margin-bottom: 138px;}
	.porta_tm_home_title_wrap.contact{margin-bottom: 130px;}
	.porta_tm_home_title_wrap.service{margin-bottom: 140px;}
	.porta_tm_home_title_wrap.about{margin-bottom: 138px;}
	.porta_tm_portfolio_wrap{padding: 0px 10px;}
	.porta_tm_portfolio_wrap{margin-bottom: 112px;}
	.porta_tm_footer_wrap{display: block;}
	.porta_tm_footer_wrap .sharebox{padding-right: 0px;width: 100%;margin-bottom: 50px;}
	.porta_tm_footer_wrap .copyright{width: 100%;text-align: left;}
	.porta_tm_twice_box_wrap .rightbox .team_list > ul > li{width: 100%;padding: 0px;}
	.porta_tm_twice_box_wrap.service{margin-bottom: 143px;}
	.porta_tm_twice_box_wrap{margin-bottom: 130px;}
	.porta_tm_twice_box_wrap.about{margin-bottom: 120px;}
	.porta_tm_twice_box_wrap.single{margin-bottom: 145px;}
	.porta_tm_twice_box_wrap .rightbox .team_list > ul{margin: 0px;}
	.porta_tm_twice_box_wrap .service_list_wrap ul li{width: 100%;}
	.porta_tm_twice_box_wrap .leftbox .title h3{font-size: 22px;}
	.porta_tm_portfolio_home_wrap{margin-bottom: 140px;}
	.porta_tm_portfolio_list > li{width: 100%;}
	.porta_tm_portfolio_filter li{display: block;}
	.porta_tm_short_contact_wrap .title h3{font-size: 24px;}
	.porta_tm_short_contact_wrap .title{margin-bottom: 45px;}
	.porta_tm_short_contact_wrap{padding: 138px 20px 162px 20px;}
	.porta_tm_news_wrap{margin-bottom: 55px;}
	.porta_tm_news_wrap ul li .definitions_wrap{padding: 0px 20px 50px 20px;}
	.porta_tm_news_wrap ul li .title h3{font-size: 20px;}
	.porta_tm_news_single_definitions_wrap .rightbox .title_holder h3{font-size: 22px;}
	.porta_tm_news_single_image .inner{padding-top: 130px;}
	.porta_tm_contact_wrap .title_holder h3{font-size: 22px;}
	.porta_tm_twice_box_wrap .contact_title h3{font-size: 23px;}
	.porta_tm_about_top_image{margin-bottom: 145px;}
	.porta_tm_service_top_image{margin-bottom: 143px;}
	.porta_tm_pagination_wrap{margin-bottom: 132px;}
	.porta_tm_news_pagination{margin-bottom: 143px;}
	.porta_tm_short_contact_wrap{margin-bottom: 143px;}
	.porta_tm_comment_contact{margin-bottom: 145px;padding: 0px 10px;}
	.porta_tm_twice_box_wrap.contact{margin-bottom: 130px;}
	.porta_tm_footer_wrap{padding-bottom: 138px;}
	body{line-height: 2.1;}
}	



table th {
    vertical-align: top;
    color: #fff;
    background: none;
    font-size: 17px;
    font-weight: normal;
    padding: 15px 10px;
    border: 1px solid #483F3F;
	text-align: center;
	border-top: 1px solid #483F3F !important;
	border-bottom: 1px solid #483F3F !important;
	
}


table td {
    vertical-align: top;
	padding: 10px;
	color: #fff;
	border: 1px solid #463d3d;
	border-top: 1px solid #483F3F !important;
	
}




