.price, .qty, .product-name {
    background-color: black !important;
    border: black !important;
    color: white !important;
  }
   .cctv, .dvr-category, .connector-category{
  	background-color: black;
  	color: white !important;
  }

p{
	color: white;
	background-color: black;
}

#dome, #bullet{
  width: 50%;
}
.customer-model{
  background-color: rgba(93, 103, 106, 0.31);
  padding-right: 0px;
}

@media only screen and (max-width: 600px) {
  #customer_dome_cameras_attributes_0_product_name{
    width: 142px;
  }
  .qty{
    width: 40px;
  }
  #priceForUpdationOfDomeCamera{
    width: 62px;
  }

  .modelSubmit{
    margin-left: 32%;
  }

}


